<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="brajola" translate="label" sortOrder="999999999">
            <label>Brajola</label>
        </tab>

        <section id="brajola_forcelogin" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Force Login</label>
            <tab>brajola</tab>

            <resource>Brajola_ForceLogin::general_config</resource>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>General Settings</label>

                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Module Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable or disable the module and all related features</comment>
                </field>
            </group>

            <group id="whitelist" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>URL Whitelist</label>
                <field id="urls" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>URLs</label>
                    <frontend_model>Brajola\ForceLogin\Block\Adminhtml\Form\Field\Urls</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
